@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  --main: #0ac8ae;
  --main-dark: #1a4e7e;
  --secondary: #24092c;
  --accent1: #fbac5f;
  --accent1-dark: #ff684d;
  --accent2: #681745;
}

body {
  background-color: var(--main);
  border-top: white solid 2px;
  color: var(--secondary);
}

.code-escape-logo {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 80px;
  aspect-ratio: 1;
  user-select: none;
}

.navbar-wrapper {
  background: var(--accent1-dark);
  border-top: var(--secondary) solid 2px;
  border-bottom: var(--secondary) solid 2px;
}

.navbar {
  background-color: var(--accent1);
  height: 50px;
  border-top: white solid 1px;
}

.navbar-inner {
  /* border-top: var(--accent1-dark) solid 1px; */
  /* border-bottom: var(--accent1-dark) solid 1px; */
  width: 100%;
}

.navbar-inner a {
  user-select: none;
}

.dark-eye-candy {
  background: var(--secondary);
  width: 100%;
  height: 300px;
}

.dark-eye-candy .rocket {
  transform: rotate(-45deg);
  position: absolute;
  right: 430px;
  top: 200px;
}

.signup-wrapper {
  position: absolute;
  width: 100%;
  top: 300px;
}

.signup-wrapper .ribbon {
  position: absolute;
  top: -100px;
}

.signup-form {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(var(--accent1), white);
  border: var(--secondary) solid 1px;
  border-top: white solid 2px;
}

.sign-input {
  border: var(--secondary) solid 2px;
}

.sign-button {
  background: var(--main);
  border: var(--secondary) solid 1px;
  border-top: white solid 2px;
}

.rules {
  background-image: linear-gradient(var(--accent1), white);
  width: 350px;
  height: 400px;
  position: absolute;
  top: 280px;
  right: 50px;
  z-index: 20;
  border: var(--secondary) solid 1px;
  border-top: white solid 2px;
}

.balloon {
  position: absolute;
  z-index: -1;
  top: -90px;
  left: 100px;
  user-select: none;
}

.ladder {
  position: absolute;
  bottom: -165px;
  left: -175px;
}

.rules-list {
  border: var(--secondary) solid 1px;
}

.instructions {
  background: blue;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 350px;
  left: 50px;
  z-index: 20;
}

.custom-drop-shadow {
  box-shadow: 0px 15px 0px rgba(0, 0, 50, 0.4);
  user-select: none;
}

.custom-text-shadow {
  text-shadow: 0px 5px 0px rgba(250, 0, 150, 0.4);
  user-select: none;
}

.platformer {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: -80px;
  background: var(--accent2);
  border-top: var(--secondary) solid 1px;
}

.platformer .grass-shine {
  background-color: var(--accent1);
  width: 100%;
  height: 20px;
  border-top: white solid 2px;
}

.platformer .grass-dark {
  background-color: var(--accent1-dark);
  width: 100%;
  height: 20px;
  border-bottom: var(--secondary) solid 1px;
}

.jumper {
  height: 50px;
  width: 30px;
  background: red;
  position: absolute;
  bottom: 25px;
}

/* landing */

.landing-wrapper {
  background-image: url("../images/c-esc-bg.png");
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}

.landing-wrapper .does-something {
  background-image: linear-gradient(var(--accent1-dark), var(--accent1));
  position: absolute;
  bottom: 50px;
  border: var(--secondary) solid 2px;
  border-top: white solid 2px;
}

/* games */

.games-wrapper .filter-bar {
  height: 50px;
  background-color: var(--accent2);
}

.games-wrapper .filter-dropdown {
  background: var(--accent1);
}

.games-wrapper .filter-dropdown Select {
  min-width: 160px;
}

/* game card */
.game-card-wrapper {
  width: 220px;
  aspect-ratio: 1;
}

.game-card {
  aspect-ratio: 1;
  width: 200px;
  transition: all 0.1s ease;
}

.game-card:hover {
  width: 220px;
}

.game-card:hover .title {
  color: var(--accent1);
}

.asset-card {
  /* width: min-content; */
  max-width: 250px;
  height: min-content;
  border: var(--secondary) solid 1px;
}
